$primary-color: #af8dff;
$secondary-color: #2ecc71;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

.main-footer {
  background-color: $primary-color;
  padding: 2rem; // 32px -> 2rem
  color: white;

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 1rem; // 16px -> 1rem

        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          font-family: $font-stack;
          font-size: 1rem; // 16px -> 1rem
          transition: color 0.3s ease;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
.footer {
  &__title {
    text-align: center;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
}
